/* Navbar */
.navbar-dark .navbar-nav .active > .nav-link {
    background-color: #18bc9c; /* Change to your preferred color */
    color: white;
}

/* Code Blocks */
pre.downlit.sourceCode {
    border-color: #7daad7 !important; /* Change to your preferred color */
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
}

/* Search Input */
.navbar-dark input[type="search"] {
    background-color: white;
    color: #2c3e50;
}

/* Links */
a {
    color: #3498db; /* Change to your preferred color */
}

/* Code Links */
code a:any-link {
    color: #18bc9c  !important; /* Change to your preferred color */
    text-decoration-color: #919aa1;
}

/* Table Header */
thead {
    font-size: 20px;
    background-color: #3498db; /* Change to your preferred color */
}

/* Sidebar Links */
.sidebar a.nav-link {
    font-size: 14.4px;
    font-weight: 400;
    color: #3498db; /* Change to your preferred color */
}

/* Sidebar Item Container */
.sidebar-item-container .text-start {
    font-weight: 600;
    font-size: 14.4px !important;
}

/* Sidebar Item Text */
.sidebar-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

/* Sidebar Links on Hover */
.sidebar-link:hover {
    background-color: rgba(52, 152, 219, 0.1);
}

/* Content Links */
.content a {
    color: #3498db; /* Change to your preferred color */
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #3498db; /* Change to your preferred color */
}

/* Content Links on Hover */
.content a:hover {
    border-bottom: 2px solid #3498db; /* Change to your preferred color */
}

/* Sidebar Section Header */
.sidebar-menu-container > ul > li:first-child > .sidebar-item-container > a > span {
    font-weight: 600 !important;
    font-size: 0.875rem;
    color: #3498db; /* Change to your preferred color */
}

/* Description Text */
div.description {
    font-style: normal;
    font-size: .875rem;
    line-height: 1.25rem;
}

/* Table Header Background */
thead {
    background: rgba(52, 152, 219, 0.02);
    border-bottom-color: rgba(100, 116, 139, 0.2) !important;
}

/* Table Row Hover */
tr:hover {
    background-color: rgba(52, 152, 219, 0.05);
}

/* Dropdown Menu */
.dropdown-menu.show {
    background: white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
